<div class="container mt-4">
  <app-button [routerLink]="['/demo-staff']" btnStyle="btn-dark">Route to Staff Portal</app-button>

  <div class="my-3 text-end">
    <app-button (click)="openModal()" iconClass="bi bi-plus-lg" btnStyle="btn-dark" size="btn-sm"> Add user</app-button>
  </div>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col" class="text-end" style="width: 100px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of demoList | async; let i = index">
        <th scope="row">{{ item.demoId }}</th>
        <td>{{ item.demoName }}</td>
        <td class="text-end">
          <app-button (click)="openModal(true, item)" iconClass="bi bi-pen-fill" size="btn-sm" class="me-1"></app-button>
          <app-button (click)="deleteRow(item)" iconClass="bi bi-trash3-fill" size="btn-sm"></app-button>
        </td>
      </tr>
      <tr *ngIf="!(demoList | async)">
        <td colspan="5" class="text-center">No records found</td>
      </tr>
    </tbody>
  </table>
</div>
<div #modal></div>
